.dbmultitable {
    border: 1px solid #ccc;
    margin-top: 5px;
    table-layout: fixed;
    width: 90%;
}

    .dbmultitable th {
        background-repeat: repeat-x;
        text-align: center;
    }

    .dbmultitable td, .dbmultitable th {
        border: 1px solid #cad9ea;
        padding: 10px 5px 10px;
        word-wrap: break-word;
    }

    .dbmultitable tr.alter {
        background-color: #f5fafe;
    }

.dbMultiBtn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .dbMultiBtn:focus, .dbMultiBtn:active:focus, .dbMultiBtn.active:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .dbMultiBtn:hover, .dbMultiBtn:focus {
        color: #333;
        text-decoration: none;
    }

    .dbMultiBtn:active, .dbMultiBtn.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }

    .dbMultiBtn.disabled, .dbMultiBtn[disabled], fieldset[disabled] .dbMultiBtn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.blue {
    background-color: #4d90fe;
}

.trItem:hover {
    background-color: #4d90fe;
}
